body{
    background-color: rgb(73, 73, 73);
}
.welcome{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}
.infotext{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}
.foot{
    text-align: center;
}
nav ul li{
    text-align: center;
    display: inline-block;
    background-color: black;
}
nav ul li a{
    color: white;
}
.headingimage{
    height: 24%;
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}
.sitelogo{
    border-radius: 50%;
}