:root {
    --bg-colour: rgb(0, 0, 0);
    font-family: 'Dosis', sans-serif;
}

body{
    background: var(--bg-colour);
}

#body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

}

#name{
    font-size: 20vmax;
    margin-bottom: -3vmax;
}

#description{
    font-size: 2vmax;
    padding-bottom: 1vmax;
}

footer{
    text-align: center;
    color:white;
}

i{
    color: white;
    padding: 5px;
}

#social-media{
    display: flex;
    flex-direction: row;
}

#resume{
    width: 60vw;
    height: 60vw;
    text-align: center;
    padding-top: 15px;
    font-size: 1.5vw;
    padding-bottom: 100px;
}

#resume-pdf{
    padding-top: 15px;
}
