:root {
	--bg-colour: rgb(0, 0, 0);
	--text-colour: rgb(255, 255, 255);
	font-family: "Dosis", sans-serif;
}

body {
	background: var(--bg-colour);
}

nav {
	position: fixed;
	padding: 5px;
}

.theme-toggle {
	cursor: pointer;
}

#body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: var(--text-colour);
}

#name {
	font-size: 20vmax;
	margin-bottom: -3vmax;
	margin-top: 1vmax;
    text-align: center;
}

#description {
	font-size: 2vmax;
	padding-bottom: 1vmax;
    text-align: center;
}

#pdf-download{
	font-size: 1vmax;
	color: var(--text-colour);
	text-align: center;
}

footer {
	text-align: center;
	color: var(--text-colour);
	padding-bottom: 20px;
}

i {
	color: var(--text-colour);
	padding: 5px;
}

#social-media {
	display: flex;
	flex-direction: row;
}

#resume {
	width: 60vw;
	height: 60vw;
	text-align: center;
	padding-top: 15px;
	font-size: 1.5vw;
	padding-bottom: 5em;
}

#resume-pdf {
	padding-top: 15px;
}
